
body {
    font-family: Arial, sans-serif;
    background-color: #f8f1e4;
    text-align: center;
    padding: 2px;
}
.menu {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #6b4226;
}
.menu-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.menu-item:last-child {
    border-bottom: none;
}

.filter-btn {
    margin-bottom: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background: transparent;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

.selected{
    border-bottom: 2px solid black;
}
